<div id="mainBody" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>Library</mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex="1 1 auto">
    <!--<router-outlet></router-outlet>-->

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <mat-form-field>
      <mat-label>password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </form>

  </div>

  <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span fxFlex="1 1 auto"></span>
          &copy; Ladanski
        <span fxFlex="1 1 auto"></span>  
      </mat-toolbar-row>
  </mat-toolbar>
</div>